body {
	text-align: justify;
}

/* https://andy-bell.co.uk/my-favourite-3-lines-of-css/ */

body > * {
	margin-left: auto;
	margin-right: auto;
}

body > * + * {
	margin-block-start: 1em;
}


/* https://piccalil.li/tutorial/fluid-typography-with-css-clamp/ */

body {
	background: #f3f3f3;
	color: #252525;
	line-height: 1.5;
	font-family: Georgia, serif;
	padding: 2rem;
}

h1,
h2,
h3 {
	font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue,
	helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
	line-height: 1.1;
	font-weight: 900;
}

h1,
h2,
h3,
p,
ul {
	font-size: clamp(
		var(--fluid-type-min, 1rem),
		calc(1rem + var(--fluid-type-target, 3vw)),
		var(--fluid-type-max, 1.3rem)
	);
}

h1 {
	--fluid-type-min: 2.5rem;
	--fluid-type-max: 5rem;
	--fluid-type-target: 5vw;

	max-width: 15ch;
}

h2 {
	--fluid-type-min: 1.8rem;
	--fluid-type-max: 3rem;
}

h3 {
	--fluid-type-min: 1.5rem;
	--fluid-type-max: 2.5rem;
}

h2,
h3 {
	max-width: 30ch;
}

p, ul {
	max-width: 60ch;
}
